{% extends 'base.html' %}
{% block title %}Transaction Summary{% endblock %}

{% block content %}
{% load humanize %}
{% if user.is_authenticated %}

<div class="container">


    <!-- Date Filter Form -->
    <form method="post" class="mb-4">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <input type="date" name="start_date" class="form-control" placeholder="Start Date">
            </div>
            <div class="col-md-3">
                <input type="date" name="end_date" class="form-control" placeholder="End Date">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>

    <!-- Summary Cards -->
     <div class="row">
        <div class="col-md-2">
        <div class="card">
            <div class="card-header bg-info text-white">
                Profit
            </div>
            <div class="card-body pt-4">
                <marquee behavior="" direction="">
                    <h3 class="">Total Profit: {{profit}}</h3>
                </marquee>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header bg-info text-white">
                Transaction Statistics
            </div>
            <div class="card-body p-0">
                <div class="row">

                    <div class="col-md-3 py-0">
                        <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow" onclick="showTable('balance-table')">
                                <div class="card-body text-center">
                                    <h4>Balance <i class="fas fa-balance-scale"></i></h4>
                                    <h3>${{ balance|floatformat:2 }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 py-0">
                        <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow" onclick="showTable('sales-table')">
                                <div class="card-body text-center">
                                    <h4>Sales <i class="fas fa-dollar-sign"></i></h4>
                                    <h3>${{ total_sales|floatformat:2 }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-3 py-0">
                        <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow" onclick="showTable('expenses-table')">
                                <div class="card-body text-center">
                                    <h4> Expenses <i class="fas fa-credit-card"></i></h4>
                                    <h3>${{ total_expenses|floatformat:2 }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 py-0">
                        <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow" onclick="showTable('payments-table')">
                                <div class="card-body text-center">
                                    <h4> Payments <i class="fas fa-money-bill-wave"></i></h4>
                                    <h3>${{ total_payment|floatformat:2 }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
     </div>

    <!-- Balance Report Table -->
    <div id="balance-table" class="table-responsive" style="display: none;">
        <h3 class="text-center">Balance Report</h3>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Balance After</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in balance_transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.balance_after_transaction }}</td>
                    <td>{{ transaction.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Sales Report Table -->
    <div id="sales-table" class="table-responsive">
        <h3 class="text-center">Sales Report</h3>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Balance After</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in sales_transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.balance_after_transaction }}</td>
                    <td>{{ transaction.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Expenses Report Table -->
    <div id="expenses-table" class="table-responsive" style="display: none;">
        <h3 class="text-center">Expenses Report</h3>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Balance After</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in expenses_transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.balance_after_transaction }}</td>
                    <td>{{ transaction.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Payments Report Table -->
    <div id="payments-table" class="table-responsive" style="display: none;">
        <h3 class="text-center">Payments Report</h3>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Supplier Name</th>
                    <th>Amount</th>
                    <th>Invoice</th>
                    <th>Balance After</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in payment_transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.supplier_name }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.invoice }}</td>
                    <td>{{ transaction.balance_after_transaction }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function showTable(tableId) {
        document.getElementById('balance-table').style.display = 'none';
        document.getElementById('sales-table').style.display = 'none';
        document.getElementById('expenses-table').style.display = 'none';
        document.getElementById('payments-table').style.display = 'none';
        document.getElementById(tableId).style.display = 'block';
    }
</script>

{% else %}
<p>You do not have permission to view this page.</p>
{% endif %}
{% endblock %}
