asgiref
autopep8
beautifulsoup4
bs4
certifi
charset-normalizer
colorama
crispy-bootstrap5
distlib
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-dotenv
django-environ
django-filter
django-humanize
djangorestframework
EasyProcess
entrypoint2
filelock
fontawesomefree
humanize
idna
lxml
Markdown
matplotlib
MouseInfo
mss
numpy
opencv-contrib-python
pandas
Pillow
pipenv
plotly
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
pycodestyle
PyGetWindow
PyMsgBox
pyperclip
pypng
PyQt5
PyQt5-Qt5
PyQt5-sip
PyRect
pyscreenshot
PyScreeze
pytweening
pytz
qrcode
requests
six
soupsieve
sqlparse
stripe
typing_extensions
tzdata
urllib3
virtualenv
virtualenv-clone
