{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1 class="text-center my-3">Returned Products</h1>
    <table class="table table-bordered bold-table-border">
      <thead class="thead-dark">
        <tr>
          <th>Order</th>
          <th>Customer</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Reason</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for return_product in return_products %}
          <tr>
            <td>{{ return_product.order_product.order.id }}</td>
            <td>{{ return_product.order_product.order.name }}</td>
            <td>{{ return_product.order_product.product.name }}</td>
            <td>{{ return_product.return_quantity }}</td>
            <td>{{ return_product.return_reason }}</td>
            <td>{{ return_product.return_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
