{% extends 'base.html' %}
{% block title %}Inventory{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="col-md-8 shadow-lg pb-1 rounded-5 mx-auto">
        <small class="text-center">If Any Damage Product</small>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ damage_form.damage_product }}
                </div>
                <div class="col">
                    {{ damage_form.damage_quantity }}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
  <div id="productData" class="">
    <div class=" my-2  ">
        <form action="" class="col-md-12 mb-1 card card-body p-0">
            <div class="text-center">
                {{myfilter.form}}
                <button type="submit" class="btn btn-primary badge-pill">Search</button>

            </div>
        </form>
    </div>
    <div class="mb-1 bg-secondary py-1 d-flex justify-content-around text-white" >
        <h4 class="m-0">Total Buy : $ {{total_buy_price}}</h4>
    <h4 class="m-0">Total Sell: $ {{total_sell_price}}</h4>
    <h4 class="m-0">Approximate Interest: $ {{ interest }}</h4>
    </div>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Bar Code</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Supplier Name</th>
                <th>Quantity</th>
                <th>Buy Price</th>
                <th>Sell Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for product in product %}
            <tr>
                <td>{{ product.barcode }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.supplier.name }}</td>
                <td {% if product.qty < 10 %}style="color: red;"{% endif %}>{{ product.qty }} {{product.unit}}</td>
                <td>{{ product.buy_price }}</td>
                <td>{{ product.sell_price }}</td>
                <td>{{ product.subtotal}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

</div>

<!-- Return to Supplier Modal -->
{% endblock content %}
