{% extends 'base.html' %} {% block title %}Inventory{% endblock %} {% load
crispy_forms_tags %} {% block content %}
<!-- Category Form  -->
<div class="container">
  <div>
    <button id="toggleAddSupplier" class="btn btn-primary mt-4 mx-2 active">
      Add Supplier
    </button>
    <button id="toggleAddCategory" class="btn btn-secondary mt-4 mx-2">
      Add Category
    </button>
    <button id="toggleAddProduct" class="btn btn-info mt-4 mx-2">
      Add Product
    </button>
  </div>
  <div>
    <div id="addCategory" style="display: none">
      <h1 class="text-center mt-4">Add New Category</h1>
      <div class="d-flex justify-content-center align-items-center">
        {% if category_form.non_field_errors %} 
        {% for error in category_form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{ error}}</div>
        {% endfor %} {% endif %}
        <div class="col-md-4 shadow-lg mt-5 p-4 rounded-5">
          <form class="row g-3" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
              <label
                for="{{ category_form.name.id_for_label }}"
                class="form-label"
                >Category Name</label
              >
              <div>
                {{ category_form.name }} 
                {% if category_form.name.errors %} 
                {% for error in category_form.name.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="col-md-6 my-3 mx-auto">
              <div class="mx-auto d-block">
                <button class="btn btn-primary" type="submit" name="category_submit">
                  Submit
                </button>
                <button class="btn btn-primary" type="reset">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- supplier form   -->
    <div id="addSupplier" style="display: none">
      <h1 class="text-center mt-4">Add Supplier Information</h1>

      <div class="d-flex justify-content-center align-items-center">
        {% if supplier_form.non_field_errors %} 
        {% for error in supplier_form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{ error}}</div>
        {% endfor %} {% endif %}
        <div class="col-md-6 shadow-lg mt-5 p-4 rounded-5">
          <form class="row g-3" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
              <label
                for="{{ supplier_form.name.id_for_label }}"
                class="form-label"
                >Supplier Name</label
              >
              <div>
                {{ supplier_form.name }} 
                {% if supplier_form.name.errors %} 
                {% for error in supplier_form.name.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="col-md-6">
              <label
                for="{{ supplier_form.phone.id_for_label }}"
                class="form-label"
                >Contact Number</label
              >
              <div>
                {{ supplier_form.phone }} 
                {% if supplier_form.phone.errors %} 
                {% for error in supplier_form.phone.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="col-md-6">
              <label
                for="{{ supplier_form.tax_id.id_for_label }}"
                class="form-label"
                >Tax Id</label
              >
              <div>
                {{ supplier_form.tax_id }} 
                {% if supplier_form.tax_id.errors %}
                {% for error in supplier_form.tax_id.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="col-md-6">
              <label
                for="{{ supplier_form.address.id_for_label }}"
                class="form-label"
                >Contact Address</label
              >
              <div>
                {{ supplier_form.address }} 
                {% if supplier_form.address.errors %} 
                {% for error in supplier_form.address.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="col-md-6 my-3 mx-auto">
              <div class="mx-auto d-block">
                <button class="btn btn-primary" type="submit" name="supplier_submit">
                  Submit
                </button>
                <button class="btn btn-primary" type="reset">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- product form  -->
    <div id="addProduct" style="display: none">
      <h1 class="text-center mt-4">Add New Product</h1>
      <div class="d-flex justify-content-center align-items-center">
        {% if product_form.non_field_errors %} 
        {% for error in product_form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{ error}}</div>
        {% endfor %} {% endif %}
        <div class="col-md-8 shadow-lg mt-5 p-4 rounded-5">
          <form class="row g-3" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-4">
              <label
                for="{{ product_form.name.id_for_label }}"
                class="form-label"
                >Product Name</label
              >
              <div>
                {{ product_form.name }} 
                {% if product_form.name.errors %} 
                {% for error in product_form.name.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="col-md-4">
              <label
                for="{{ product_form.qty.id_for_label }}"
                class="form-label"
                >Product Quantity</label
              >
              <div>
                {{ product_form.qty }} 
                {% if product_form.qty.errors %} 
                {% for error in product_form.qty.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="col-md-4">
              <label
                for="{{ product_form.sell_price.id_for_label }}"
                class="form-label"
                >Product Buy Price</label
              >
              <div>
                {{ product_form.buy_price }} 
                {% if product_form.buy_price.errors %} 
                {% for error in product_form.buy_price.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="col-md-4">
              <label
                for="{{ product_form.sell_price.id_for_label }}"
                class="form-label"
                >Product Sell Price</label
              >
              <div>
                {{ product_form.sell_price }} 
                {% if product_form.sell_price.errors %} 
                {% for error in product_form.sell_price.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="col-md-4">
              <label
                for="{{ product_form.category.id_for_label }}"
                class="form-label"
                >Product Category</label
              >
              <div>
                {{ product_form.category }} 
                {% if product_form.category.errors %} 
                {% for error in product_form.category.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="col-md-4">
              <label
                for="{{ product_form.supplier.id_for_label }}"
                class="form-label"
                >Product Supplier</label
              >
              <div>
                {{ product_form.supplier }} 
                {% if product_form.supplier.errors %} {% for error in product_form.supplier.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="col-md-4">
              <label
                for="{{ product_form.image.id_for_label }}"
                class="form-label"
                >Product Photo</label
              >
              <div class="input-group">
                <input
                  type="file"
                  class="form-control"
                  id="{{ product_form.image.id_for_label }}"
                  name="{{ product_form.image.name }}"
                />
                {% if product_form.image.value %}
                <img
                  src="{{ product_form.image.value.url }}"
                  alt="Current Image"
                  class="img-fluid rounded mt-2"
                  style="max-height: 150px"
                />
                {% endif %}
              </div>
              {% if product_form.image.errors %} 
              {% for error in product_form.image.errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %} {% endif %}
            </div>

            <div class="col-md-4">
              <label
                for="{{ product_form.qr_image.id_for_label }}"
                class="form-label"
                >QR Code Image</label
              >
              <div class="input-group">
                <input
                  type="file"
                  class="form-control"
                  id="{{ product_form.qr_image.id_for_label }}"
                  name="{{ product_form.qr_image.name }}"
                />
                {% if product_form.qr_image.value %}
                <img
                  src="{{ product_form.qr_image.value.url }}"
                  alt="Current Image"
                  class="img-fluid rounded mt-2"
                  style="max-height: 150px"
                />
                {% endif %}
              </div>
              {% if product_form.qr_image.errors %} 
              {% for error in product_form.qr_image.errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %} {% endif %}
            </div>
            <div class="col-md-4 ml-5">
              <label class="form-check-label">
                {{ product_form.status }} Active
              </label>
              {% if product_form.status.errors %} 
              {% for error in product_form.status.errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %} {% endif %}
            </div>

            <div class="col-md-12 my-3">
              <div class="col-4 mx-auto d-block">
                <button class="btn btn-primary" type="submit" name="product_submit">
                  Submit
                </button>
                <button class="btn btn-primary" type="reset">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<form method="GET" action="">
  <label for="category">Category:</label>
  <select id="category" name="category">
    <option value="">All</option>
    {% for category in categories %}
    <option value="{{ category.name }}">{{ category.name }}</option>
    {% endfor %}
  </select>
  <label for="supplier">Supplier:</label>
  <select id="supplier" name="supplier">
    <option value="">All</option>
    {% for supplier in suppliers %}
    <option value="{{ supplier.name }}">{{ supplier.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Filter" />
</form>

<table class="table table-bordered bold-table-border">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>Supplier Name</th>
      <th>Tax ID</th>
      <th>Phone</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Buy Price</th>
      <th>Sell Price</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.category.name }}</td>
        <td>{{ product.supplier.name }}</td>
        <td>{{ product.supplier.tax_id }}</td>
        <td>{{ product.supplier.phone }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.qty }}</td>
        <td>{{ product.buy_price }}</td>
        <td>{{ product.sell_price }}</td>
        <td>{{ product.timestamps }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<script>
  var addSupplier = document.getElementById("addSupplier");
  var addCategory = document.getElementById("addCategory");
  var addProduct = document.getElementById("addProduct");

  document
    .getElementById("toggleAddSupplier")
    .addEventListener("click", function () {
      addSupplier.style.display =
        addSupplier.style.display === "none" ? "block" : "none";
      addCategory.style.display = "none";
      addProduct.style.display = "none";
    });

  document
    .getElementById("toggleAddCategory")
    .addEventListener("click", function () {
      addSupplier.style.display = "none";
      addCategory.style.display =
        addCategory.style.display === "none" ? "block" : "none";
      addProduct.style.display = "none";
    });

  document
    .getElementById("toggleAddProduct")
    .addEventListener("click", function () {
      addSupplier.style.display = "none";
      addCategory.style.display = "none";
      addProduct.style.display =
        addProduct.style.display === "none" ? "block" : "none";
    });

  // Add double-click event handling
  var lastClickTime = 0;
  var delay = 300; // milliseconds

  document
    .getElementById("toggleAddSupplier")
    .addEventListener("dblclick", function () {
      if (Date.now() - lastClickTime < delay) {
        addSupplier.style.display = "none";
        lastClickTime = 0;
      } else {
        lastClickTime = Date.now();
      }
    });

  document
    .getElementById("toggleAddCategory")
    .addEventListener("dblclick", function () {
      if (Date.now() - lastClickTime < delay) {
        addCategory.style.display = "none";
        lastClickTime = 0;
      } else {
        lastClickTime = Date.now();
      }
    });

  document
    .getElementById("toggleAddProduct")
    .addEventListener("dblclick", function () {
      if (Date.now() - lastClickTime < delay) {
        addProduct.style.display = "none";
        lastClickTime = 0;
      } else {
        lastClickTime = Date.now();
      }
    });
</script>

{% endblock content %}
