{% extends 'base.html' %} {% block title %}Inventory{% endblock %} {% load
crispy_forms_tags %} {% block content %}
<div class="container">
    
<div id="inventoryData" class="mt-5">
    <form method="post" action="{% url 'inventory' %}" class="d-flex justify-content-center mb-4">
    {% csrf_token %}
    <div class="input-group">
        <label for="start_date" class="input-group-text">From:</label>
        <input type="date" class="form-control" id="start_date" name="start_date" />
    </div>

    <div class="input-group mx-2">
        <label for="end_date" class="input-group-text">To:</label>
        <input type="date" class="form-control" id="end_date" name="end_date" />
    </div>

    <div class="">
        <button type="submit" class="btn btn-primary  px-4 fs-4">Filter</button>
    </div>
  </form>
      <table class="table table-bordered bold-table-border">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Total</th>
            <th>Products</th>
        </tr>
    </thead>
    <tbody>
        {% for inventory, products in inventory_data.items %}
        <tr>
            <td>{{ inventory.id }}</td>
            <td>{{ inventory.timestamps }}</td>
            <td>{{ inventory.total }}</td>
            <td>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Supplier Name</th>
                            <th>Quantity</th>
                            <th>Buy Price</th>
                            <th>Sell Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category.name }}</td>
                            <td>{{ product.supplier.name }}</td>
                            <td>{{ product.qty }}</td>
                            <td>{{ product.buy_price }}</td>
                            <td>{{ product.sell_price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


  </div>



</div>

{% endblock content %}