{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1 class="text-center my-3">Returned Products</h1>
    <div class="mb-3 bg-secondary py-2 d-flex justify-content-around text-white" >
        <h3 >Total Return : {{total_return_quantity}}</h3>
    <h3>Total Amount: {{total_return_price}}</h3>
    
    </div>
    <table class="table table-bordered bold-table-border">
      <thead class="thead-dark">
        <tr>
          <th>SL</th>
            <th>Date</th>
            <th>Supplier</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Reason</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        {% for return_product in return_products %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ return_product.return_date }}</td>
            <td>{{ return_product.product.supplier.name }}</td>
            <td>{{ return_product.product.name }}</td>
            <td>{{ return_product.return_quantity }}</td>
            <td>{{ return_product.product.buy_price }}</td>
            <td>{{ return_product.return_reason }}</td>
            <td>{{ return_product.subtotal }}</td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
