{% extends 'base.html' %} {% block title %}Staff{% endblock %} {% load
crispy_forms_tags %} {% block content %}
<div class="container">

  <div id="staffData" class="mt-5">
    <div class=" my-3  ">
        <form action="" class="col-md-12 mb-2 card card-body ">
            <div class="text-center">
                {{myfilter.form}}
                <button type="submit" class="btn btn-primary badge-pill">Search</button>

            </div>
        </form>
    </div>
    <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Full Name</th>
                            <th>Phone</th>
                            <th>Education</th>
                            <th>Father Name</th>
                            <th>Mother Name</th>
                            <th>Address</th>
                            <th>Photo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in staff %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.username }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.first_name }} {{i.last_name}}</td>
                            <td>{{i.staff.phone}}</td>
                            <td>{{i.staff.education}} {{i.staff.point}}</td>
                            <td> {{i.staff.father_name}}</td>
                            <td> {{i.staff.mother_name}}</td>
                            <td> {{i.staff.address}}</td>
                            <td class="text-center"><img class="rounded-circle" src="{{ i.staff.image.url }}" style="width: 60px; height: 45px;" alt=""></td
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
  </div>

</div>

{% endblock content %}